.row
  %h3.col-md-6= @city.name
  %h3.col-md-6= link_to 'API get_list(direct link)', "/api/v1/phones/get_list?city_id=#{@city.id}", target: 'blank'
%hr
.row
  - @phones.each do |phone|
    - plus = [true, false].sample ? '-fake' : ''
    .col-md-8.panel.panel-default
      %h4.pull-left= "#{phone.number}#{plus}"
    .col-md-4.panel.panel-default
      %h4.pull-= link_to("Order Number(Api Request #{plus})", "/api/v1/phones/order_number?number=#{phone.number}#{plus}", target: 'blank')
